<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxUploadSize" value="2000000000"/>
    </bean>

    <bean id="uploadService" class="bjl.core.upload.FileUploadService">
        <property name="fileUploadConfig" ref="fileUploadConfig"/>
    </bean>

    <bean id="fileUploadConfig" class="bjl.core.upload.FileUploadConfig">
        <property name="domainName" value="${upload.domainName}"/>
        <property name="path" value="${upload.path}"/>

        <property name="folder" value="${file.upload.folder}"/>
        <property name="QRCode" value="${file.upload.code}"/>
        <property name="chatImg" value="${file.upload.chat}"/>
        <property name="betImg" value="${file.upload.bet}"/>
        <property name="lottery" value="${file.upload.lottery}"/>
        <property name="maxSize" value="${img.upload.maxSize}"/>
        <property name="type" value="${img.upload.type}"/>
        <property name="resourcePackage" value="${file.upload.package}"/>
        <property name="validateCode" value="${file.upload.validateCode}"/>
    </bean>

</beans>